@model IEnumerable<MvcTest.Models.ReferralModel>

@{
    ViewData["Title"] = "List Referrals";
}

<h1>List of Referrals</h1>
<label for="SearchItem">Search item:</label>
<input type="text" id="SearchItem" name="SearchItem">
<button type="button" name="btnSearch" id="btnSearch">Search</button>
<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Forename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactTelephoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Forename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactTelephoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
            </tr>
        }
    </tbody>
</table>

<script language="JavaScript" type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSearch").click(function () {
            window.location.replace("/Referral/List?SearchItem=" + $("#SearchItem").val());
        });
    });
</script>

